html {
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #fff;
}

.current-date-row h3 {
    text-transform: uppercase;
    font-size: 37px;
    font-weight: 900;
    margin: 0 0 1rem;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.calendar-wrapper {
    background: #1D252C;
    color: #fff;
    padding: 40px 60px;
    text-align: center;
}

.current-date span {
    font-family: inherit;
    font-weight: 700;
    color: inherit;
    display: inline-block;
    margin-left: .5ch;
    padding: 0;
    font-size: 16px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;
}

.week-inner-component  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.year-root-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 307.875px;
    min-width: 307.875px;
    max-width: 307.875px;
}

.week-inner-component  ul li {
    flex-basis: 14.28%;
}

.year-root-container li {
    flex-basis: 14.2857143%;
    width: 14.2857143%;
    height: 39px;
    line-height: 39px;
    margin: 0;
    display: inline-block;
    position: relative;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    border-radius: 150px;
    max-width: 39px;
    cursor: pointer;
}

.year-root-container .current:hover,
.year-root-container .current:focus {
    color: #3DAE2B;
}

.year-root-container .previous,
.year-root-container .next {
    background: none;
    color: rgba(207, 210, 211, 0.1);
    visibility: visible;
}

.year-root-container .previous:hover,
.year-root-container .next:hover,
.year-root-container .previous:focus,
.year-root-container .next:focus {
    color: #fff;
}

.year-root-container .active-day {
    background: #fff;
    border: 0;
    color: #1D252C;
    font-weight: 500;
    transition: color .1s, background .1s;
}

.year-root-container .active-day:hover,
.year-root-container .active-day:focus {
    background: #3DAE2B;
    color: #fff;
}

svg {
    height: 30px;
    width: 30px;
}

svg path {
    fill: #3DAE2B;
}

.arrow:hover svg path,
.arrow:focus svg path {
    fill: #2cfd0a;
}

.arrow {
    display: inline-block;
    cursor: pointer;
}